<?xml version="1.0" encoding="utf-8"?>

<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
         IgnorableNamespaces="uap mp uap3">

  <Identity
    Name="57012MikeFrancis.ContosoAppBundle.OptionalPackage1"
    Publisher="CN=mikefra"
    Version="1.0.2.0" />

  <mp:PhoneIdentity PhoneProductId="c6c41ec9-998e-4144-8b1f-09c96ca6b624" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>OptionalPackage1</DisplayName>
    <PublisherDisplayName>mikefra</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <uap3:MainPackageDependency Name="57012MikeFrancis.ContosoAppBundle" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

</Package>